<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Desafio Black And White</title>
</head>
<body>

    <h1 class="title">Black and White SPA</h1>
    <form class="form" action="/crear">
<div class="form-group">
    <label class="label" for="url">Imagén url:</label>
    <input type="text" name="url" id="url">
</div>

<button class="boton" type="submit">subir imagen al servidor</button>
    </form>
    
</body>
</html>